.header{
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  .logo{
    display: flex;
    align-items: center;
    img{
      height: 30px;
    }
  }
  .user{
    color: #333333;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    span{
      font-size: 12px;
      margin-left: 10px;
      &.portrait{
        width: 30px;
        height: 30px;
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }
}
.Bv6_layer {
  .layer_login_register_v2{
    padding: 10px 0;
  }
  .form_login_register .input_wrap{
    width: 100%;
  }
  .form_login_register .item_btn .btn_34px{
    width: 100%;
  }
}